
.ptr-StoryNavPanel {
	width: var(--StoryNavPanelWidth);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.ptr-StoryNavPanel.is-single-layout {
	height: var(--StoryNavPanelWidth);
	width: 100%;
}

.ptr-StoryNavPanel.is-single-layout .ptr-StoryNavPanelContainer, 
.ptr-StoryNavPanel.is-single-layout .ptr-StoryNavPanelCases {
	flex-direction: row;
}

.ptr-StoryNavPanelContainer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: .4rem;
}

.ptr-StoryNavPanel.is-single-layout .ptr-StoryNavPanelContainer > svg {
	transform: rotate(-90deg);
}

.ptr-StoryNavPanelCases {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: .4rem;
}

.ptr-StoryNavPanelIcon {
	background-color: transparent;
	color: var(--base950);
	cursor: pointer;
}

.ptr-StoryNavPanelIcon:hover {
	color: var(--accent300);
}

.ptr-StoryNavPanelIcon.is-active {
	color: var(--accent300);
}

.ptr-StoryNavPanelIcon.arrow-up,
.ptr-StoryNavPanelIcon.arrow-down {
	width: 1.5rem;
}

.ptr-StoryNavPanelIcon.default-home {
	width: 1.3rem;
}

.ptr-StoryNavPanelIcon.default-footer {
	width: .85rem;
}

.ptr-StoryNavPanelIcon.default-case {
	width: .7rem;
}