:root{
    --base0: #FFFEFC;
    --base25: #F8F7F5;
    --base50: #F3F2F0;
    --base100: #EDECEA;
    --base200: #E5E4E2;
    --base300: #CCCBC9;
    --base400: #ABAAA8;
    --base500: #868684;
    --base600: #666563;
    --base700: #4E4D4B;
    --base800: #353432;
    --base900: #2B2A28;
    --base950: #1D1D1B;

    --accent25: #f3f6ff;
    --accent50: #ebf2ff;
    --accent100: #d6e2ff;
    --accent200: #b3c6ff;
    --accent300: #8aa1ff;
    --accent400: #667dff;
    --accent500: #3d50ff;
    --accent600: #0026ff;
    --accent700: #0026bd;
    --accent800: #002080;
    --accent900: #00123d;
    --accent950: #000b1f;
}