@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');  Another font test */

:root {
    --defaultFontFamily: 'Roboto', sans-serif;
    /*--defaultFontFamily: 'Press Start 2P', cursive; Another font test*/
}