@import '../node_modules/modern-normalize/modern-normalize.css';
@import "_colors.css";
@import "_spacing.css";
@import "_typography.css";
@import "@mantine/core/styles.css";

body {
    font-family: var(--defaultFontFamily), sans-serif;
    height: 100vh;
}

a {
    color: var(--accent500);

    &:visited {
        color: var(--accent700);
    }
}