.ptr-StoryPanelToggle {
		width: 100%;
		height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptr-StoryPanelToggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ptr-StoryPanelToggle-segmented {
    width: 100%;
}

.ptr-StoryPanelToggle-label {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
    padding: 0 8px;
		font-size: 1.1rem;
}