.ptr-MapSet {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	overflow: hidden;
	container-name: ptr-MapSet;
	container-type: size;
}

/* Map set grid used for displaying maps in a grid layout */
.ptr-MapSet-grid {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	grid-gap: 0.05rem;
	overflow: hidden;
}

.ptr-MapSet-grid.has-4-maps {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.ptr-MapSet-grid.has-5-maps,
.ptr-MapSet-grid.has-6-maps,
.ptr-MapSet-grid.has-7-maps,
.ptr-MapSet-grid.has-8-maps,
.ptr-MapSet-grid.has-9-maps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/* If the map set has aspect ratio greater than 1, there are more or equal columns than rows */
@container ptr-MapSet (aspect-ratio > 1) {
	.ptr-MapSet-grid {
		flex-direction: row;
	}
}

/* If the map set has aspect ratio less than or equal to 1, there are more or equal rows than columns */
@container ptr-MapSet (aspect-ratio <= 1) {
	.ptr-MapSet-grid {
		flex-direction: column;
	}

	.ptr-MapSet-grid.has-5-maps,
	.ptr-MapSet-grid.has-6-maps {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Map set map used for displaying individual maps */
.ptr-MapSet-map {
	flex: 1;
	position: relative;
}