.ptr-MapBBoxDrawing-ControlButtons {
	top: 0.5rem;
	right: 0.5rem;
	gap: 0.7rem;
	position: absolute;
}

.ptr-MapBBoxDrawing-ControlButtons-addBtn {
	font-size: 0.7rem;
	width: 2.2rem;
	height: 2.2rem;
}

.ptr-MapBBoxDrawing-ControlButtons-icons {
	width: 1.5rem;
	height: 1.5rem;
}
