
.ptr-StoryNavPanel {
	width: var(--StoryNavPanelWidth);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.ptr-StoryNavPanelContainer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: .6rem;
}

.ptr-StoryNavPanelCases {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
}

.ptr-StoryNavPanelIcon {
	background-color: transparent;
	color: var(--base950);
	cursor: pointer;
	width: 1rem;
}

.ptr-StoryNavPanelIcon:hover {
	color: var(--accent300);
}

.ptr-StoryNavPanelIcon.is-active {
	color: var(--accent300);
}

.ptr-StoryNavPanelIcon.default-home {
	width: 1.3rem;
}

.ptr-StoryNavPanelIcon.default-footer {
	width: .85rem;
}

.ptr-StoryNavPanelIcon.default-case {
	width: .7rem;
}