.ptr-Story {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
}

.ptr-Story.is-horizontal-layout {
    flex-direction: row;
}

.ptr-Story.is-vertical-layout {
	flex-flow: column;
}

.ptr-StoryPanelWrapper.is-small-screen {
	height: 5rem;
	padding: .5rem 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.ptr-StoryPanelToggle {
		width: 100%;
		height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptr-StoryPanelToggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ptr-StoryPanelToggle-segmented {
    width: 100%;
}

.ptr-StoryPanelToggle-label {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
    padding: 0 8px;
		font-size: 1.1rem;
}

.ptr-StoryPanelToggle-control[data-active] .ptr-StoryPanelToggle-icon {
    /* color: var(--base100) */
}