.globalError-div{
    padding: 2rem;
    text-align: center;
}
.globalError-btn{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px
}

.ptrNotFound-link{
    color: #0070f3;
    text-decoration: underline;
}
.errorNotification-position-div{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.errorNotification-div{
    padding: 1rem;
    border: 1px solid;
    border-radius: 4px;
    min-width: 300px;
    box-shadow: 0 2px 5px #00000033;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.errorNotification-div-warningType{
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.errorNotification-div-errorType{
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.errorNotification-closeBtn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px;
    color: inherit;
}