.ptr-MapScale {
    position: relative;
}

.ptr-MapScale-content {
    border: 2px solid var(--base500);
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ptr-MapScale-content > span {
    color: var(--base500);
    font-size: var(--font-size-xs);
    line-height: 1.3;
}