.ptr-instanceWarning {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	display: flex;
	position: sticky;
}

.ptr-instanceWarning-text {
	margin: 0 auto;
	position: relative;
}

.ptr-instanceWarning-close {
	position: absolute;
	right: 10px;
	cursor: pointer;
}