.ptr-NativeMapTooltip {
	z-index: 100;
	background-color: var(--base25);
	font-size: var(--font-size-sm);
	font-family: var(--defaultFontFamily);
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.18);
	max-width: 300px;
	width: max-content;
}

.ptr-NativeMapTooltip-title {
	font-size: var(--font-size-sm);
	font-weight: 700;
	color: var(--base950);
	margin-bottom: 6px;
}

.ptr-NativeMapTooltip-row {
	font-size: var(--font-size-sm);
	margin-bottom: 2px;
}

.ptr-NativeMapTooltip-label {
	color: var(--base950);
	font-weight: 600;
}

.ptr-NativeMapTooltip-value {
	color: var(--base950);
	font-weight: 500;
	white-space: nowrap;
}

.ptr-NativeMapTooltip-unit {
	color: var(--base950);
}

.ptr-NativeMapTooltip-indicator {
	z-index: 101;
	position: absolute;
	left: 50%;
	bottom: -7px;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 8px solid var(--base0);
}