div.ptr-MapTooltip {
	background-color: var(--base25);
	font-size: var(--font-size-sm);
	font-family: var(--defaultFontFamily);
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.ptr-MapTooltip-row {
	margin-bottom: 2px;
}

.ptr-MapTooltip-label {
	color: var(--base950);
	font-weight: 600;
}

.ptr-MapTooltip-value {
	color: var(--base950);
	font-weight: 500;
}

.ptr-MapTooltip-unit {
	color: var(--base950);
}

.ptr-MapTooltip-indicator {
	z-index: 101;
	position: absolute;
	left: 50%;
	bottom: -7px;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 8px solid var(--base25);
}