name: Build & Publish NPM Package - DEV
description: This workflow builds and publishes the NPM package when a version tag is pushed.

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-dev.[0-9]+'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4 # Latest version to set up Node.js
        with:
          node-version: 'lts/*' # Use the latest LTS version of Node.js
          registry-url: 'https://registry.npmjs.org/' # Important: Specify the npm registry

      - name: Install dependencies
        run: npm install

      - name: Build package
        run: npm run build

      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          # for public packages, include --access public
          npm publish --access public --tag dev