.ptr-StorySidePanel-container {
	width: var(--StorySidePanelWidth);
	display: flex;
	flex-flow: row;
	box-shadow: 3px 0 3px rgb(0 0 0 / 15%);
	z-index: 2;
	/* Gets rid of the top shadow */
	clip-path: inset(0px -10px -10px -10px);
}

.ptr-StorySidePanel {
	width: var(--StoryLayoutPanelWidth);
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-flow: column;
	scroll-behavior: smooth;
	position: relative;
	z-index: 10;
}

.ptr-StorySidePanel-hidden {
    display: none;
}

.ptr-StorySidePanel.hide-navigation {
	width: 100%;
	padding-left: 1.5rem;
}

.ptr-StorySidePanel.is-vertical-layout {
	width: 100%;
}

.ptr-StorySidePanel-container.is-vertical-layout {
	width: 100%;
	height: 40%;
}

.ptr-StorySidePanelIntro, .ptr-StorySidePanelFooter, .ptr-StorySidePanelCase {
	padding: 0 1.5rem 0 0;
}